body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    /* display: grid;
    margin: 100px auto;
    justify-items: center;
    border-bottom: solid 4px darkslategray;
    align-items: end; */
    background-color: white;
    position: relative;
    overflow: hidden;
    border: 1px solid #333;
}

.ball-01 {
    width: 50px;
    height: 50px;
    bottom: 0;
    position: absolute;
    background-color: blue;
    border-radius: 50%;
    animation: bounce 1s ease infinite, ball-animation 2s infinite linear;
}

.ball-02 {
    width: 50px;
    height: 50px;
    bottom: 0px;
    position: absolute;
    background-color: orange;
    border-radius: 50%;
    animation: bounce2 1s ease infinite, ball-animation 4s infinite linear;
}

@keyframes bounce {
    000% {transform: scale(1,1) translateY(0);}
    005% {transform: scale(1.1,0.9) translateY(0);}
    025% {transform: scale(0.9,1.1) translateY(-200px);}
    050% {transform: scale(1.1,0.9) translateY(0);}
    060% {transform: scale(0.9,1.1) translateY(-40px);}
    070% {transform: scale(1.1,0.9) translateY(0);}
    100% {transform: scale(1,1) translateY(0);}
}

@keyframes bounce2 {
    000% {transform: scale(1,1) translateY(0);}
    005% {transform: scale(1.1,0.9) translateY(0);}
    025% {transform: scale(0.9,1.1) translateY(-300px);}
    050% {transform: scale(1.1,0.9) translateY(0);}
    060% {transform: scale(0.9,1.1) translateY(-40px);}
    070% {transform: scale(1.1,0.9) translateY(0);}
    100% {transform: scale(1,1) translateY(0);}
}

@keyframes ball-animation { 
    from {
        right: -80px;
    } to {
        right: 100%;
    }
}